* {
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;    
}

.border {
    border-left: 2px solid #1579e8;
    border-right: 2px solid #1579e8;
    border-bottom: 2px solid #1579e8;    
}

body {
    background: url(../img/light_toast.png) #eee;
}

#header {
    background: #1579e8;
    color: white;
    text-align: center;
    padding: 10px;
}

#main-menu {
    background: #efefef;
    padding: 10px;
    text-align: center;
}

#main-menu button {
    padding: 5px 20px;
    font-weight: bolder;
}

#role {
    background: #efefef;
    text-align: center;
}

#role p {
    display: inline;
}

#role button {
    padding: 2px 5px;
}

#role-a {
    padding: 10px;
}

#role-b {
    padding: 10px;
}

#page-align {
    width: 500px;
    height: 240px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: hidden;
}

#game-b {
    padding-top: 10px;
}

#game-a {
    padding-top: 10px;
}

#admin-panel {
    width: 150px;
    height: 50px;
    background: rgba(21, 121, 232, .2);
    border-radius: 10px;
    top: 10px;
    right: 10px;
    position: absolute;
    padding: 5px;
    text-align: center;
}

#admin-panel button {
    padding: 2px 10px;
    margin-top: 5px;
}

#help-panel {
    width: 149px;
    height: 50px;
    background: rgba(21, 121, 232, .2);
    border-radius: 10px;
    top: 10px;
    left: 10px;
    position: absolute;
    padding: 5px;
    text-align: center;
}
